<%-include("./partials/header");-%>
<h1>Home</h1>
<p><%= homeStartingContent%></p>
<%# we can also use for loop
for(var i=0;i<posts.length;i++){
   <h2> posts[i].title</h2>
    <p> posts[i].body</p> 
}
 %> 
<%   posts.forEach(function(post){%>
    <h2><%= post.title%></h2>
    <p><%= post.body.split(" ").splice(0,50).join(" ")+'...'%>
        <a href="/post/<%= post.title%>">Read More</a>
    </p>
    <%   })%>
<%-include("./partials/footer");-%>